<div class="m-0 text-white bg-[#252121]">
  <div class="px-20 pt-10">
    <div class="p-7 container">
      <hr class="cart-del-line" />
      <span class="flex justify-center text-2xl font-semibold uppercase">Your order has been received</span>
      <br />
      <img
        class="w-48 mx-auto"
        src="https://cdn.pixabay.com/photo/2014/03/25/16/58/check-mark-297739_960_720.png"
        alt=""
      />
      <br />
      <span class="flex justify-center text-lg font-bold uppercase">Thank you for ordering from us!</span>
      <span class="flex justify-center text-base font-bold uppercase"
        >You will receive an order confirmation email with details of your order</span
      >
      <hr class="cart-del-line" />
      <div class="flex justify-center">
        <button
          id="btnCheckout"
          (click)="continueShopping()"
          class="hover:bg-yellow-600 bordershadowmax text-white font-bold py-3 px-20 rounded border uppercase"
        >
          Continue Shopping
        </button>
      </div>
    </div>
  </div>
  <div class="py-32"></div>
</div>
